<div id="<%= dom_id book %>">
  <p>
    <strong>Titulo:</strong>
    <%= book.Titulo %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= book.Autor %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= book.Ano %>
  </p>

  <p>
    <strong>Editora:</strong>
    <%= book.Editora %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.ISBN %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= book.Quantidade %>
  </p>

</div>
